.popupMain{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.newSubmission{
    width: 75vw;
    height: 75vh;
    background-color: #7f8386;
    box-shadow: 0 0px 30px  rgba(150, 150, 150, .75);
    color: white;
    text-align: center;
}
.newSubmission .half{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.newSubmission h1{
    height: 5vh;
    margin: 2vh;
}

.newSubmission .half img{
    margin: 0;
    width: 35.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 56vh;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.newSubmission .half button{
    margin: 2.5vh;
    height: 5vh;
    width: 50%;
    background: none;
    color: white;
    font: inherit;
    border: 2px solid lightgray;
    font-size: x-large;
    font-weight: bold;
}

.newSubmission .half button:hover{
background-color: #a1a8af;
}

.newSubmission .half .line{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.newSubmission .half .line select{
    text-align: center;
    min-width: 20%;
    font: inherit;
    font-size: x-large;
    font-weight: bold;
    background: none;
    color: white;
    border: 2px solid lightgray;
    margin: 2%;
}

.newSubmission .half .line option{
    color: black;
}

.newSubmission .half p{
    margin: 0;
}

.newSubmission .half input{
    margin-right: 2%;
    margin-left: 2%;
    font: inherit;
    color: white;
    background: none;
    width: 75%;
    text-align: center;
    font-weight: bold;
    align-items: center;
    border: 2px solid lightgray;
}