.dashboard {
    background-color: #343d46;
    height: 80vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.panel {
    background-color: #c5cdd5;
}